<ion-modal-view>
    <ion-content>
        <!-- this shows when a user wants to add a category to their options.
        Once they have done this they can choose it as a category in the new entries. There is a maximum of 5 categories, including 2 custom categories-->
        
        <ion-list>
        <ion-item ng-repeat="task in taskTypes track by $index">
           <h3 class="{{task.colour}}">{{task.title}}</h3>
            <ion-option-button class="button button-assertive" ng-click="removeType($index)"> Remove Task Type</ion-option-button>
            </ion-item>
            
        </ion-list>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name of Category</span>
        <input type="text" ng-model="newCat.title" placeholder="Sports,Cleaning etc...">
      </label>
        
        <button class="button button-balanced" ng-click="addCat()">Add</button>
        <button class="button button-positive" ng-click="closeModal()">Back</button>
        <!-- must add go back button-->

    </div>
    
    
    </ion-content>      
      


</ion-modal-view>