<ion-view view-title="Entry">
      <ion-content class="padding">
          <h2 class="royal">something to do?</h2>
          <!-- Goal here is to allow the user to
            add a new entry
            due date
            type of todo - work/personal/groceries-->
          <div class="list">
              <label class="item item-input">
                  <span class="input-label">To Do:</span>
                <input type="text" ng-model="todo.task" placeholder="Enter Task!">
              </label>
              
              <label class="item item-input">
                  <span class="input-label">Task Description</span>
                  <input type="text" ng-model="todo.description" placeholder="Enter Description">
              </label>

          
            <div class="item">
                <p>Category: {{todo.type}}</p>
                <button class="button button-small" ng-repeat="type in taskTypes"  ng-click="selectType($index)" ng-class="'button-{{type.colour}}'">{{type.title}}</button>
            </div>
    
        
        
        
        
  <label class="item item-input">
    <span class="input-label">Due Date: </span>
    <input type="date" min="{{todo.min | date: 'yyyy-MM-dd'}}" ng-model="todo.due" placeholder="Enter Due Date!">
  </label>
        <button class="button button-royal" ng-click="add()">Add Task</button>
    </div>
    


  </ion-content>
</ion-view>
