<ion-view view-title="Filter">
  <ion-content>
      <h1>Stuff</h1>
      <ion-list>
      <ion-item ng-repeat="item in taskTypes.taskNames">{{item}}</ion-item></ion-list>
      <button class="button" ng-click="addType()">Add Another Category</button>
      <h1>Completed Tasks</h1>
      <ion-list>
          <ion-item ng-repeat="item in completedTasks">
            <h1>{{item.task}}</h1> 
            <h2>{{item.type}}</h2>
            <h2>Set: {{item.dateSet.toDateString()}} Due: {{item.due.toDateString()}}</h2>
          
          </ion-item>
      
      </ion-list>

  </ion-content>
</ion-view>
