<ion-view view-title="ToDos!">
  <ion-content>
      
     <!-- http://stackoverflow.com/questions/29086764/set-min-date-to-current-date-in-angularjs-input-->
    <ion-list can-swipe="toggles.swipe">
        <h2 class="{{taskCat.colour}}">{{taskCat.title}}</h2>
      <ion-item class="assertive" ng-repeat="item in currentView" ng-click="update($index)">
        <h3>{{item.task}}</h3> 
        <p>{{item.type}} Due: {{item.due.toDateString()}}</p>
         
          
          <ion-option-button class="icon-left ion-android-checkmark-circle button-balanced" ng-click="archive($index)">Archive</ion-option-button>
          <ion-option-button class="icon-left ion-android-cancel button-assertive" ng-click="removeTask($index)">Delete</ion-option-button>
          
        
      </ion-item>
        

    </ion-list>
      <div ng-show="toggles.filter">
          <!--https://forum.ionicframework.com/t/ion-item-in-with-background-color-based-on-scope-value/19695
            this thread helped me work with ng-class to some extent-->
          
        
          <button class="button button-small" ng-repeat="type in taskTypes"  ng-click="changeView($index)" ng-class="'button-{{type.colour}}'">{{type.title}}</button>
          
        <button class="button button-small" ng-click="changeViewAll()">View All Tasks</button>
          <button class="button button-small" ng-click="viewArchive()">Completed Tasks</button>
        
      </div>
         
      <ion-toggle ng-model="toggles.filter" ng-change="showFilter()">Show Filters</ion-toggle>
      <label class="item item-input item-select">
          <div class="input-label">
            Sort By...
            </div>
        <select ng-model="sort.choice" ng-change="sortTask(sort.choice)">
            <option selected value="A">A to Z</option>
            <option value="D">Date Due</option>
            <option value="S">Date Set</option>

        </select>
      </label>
      
      
      
    
      

      
    
  </ion-content>
</ion-view>
