<ion-view view-title="Settings">
  <ion-content>
      <h2 class="royal">todo 3000</h2>
      <ion-list>
          <ion-item class="item-icon-left" ng-click="addType()">
              <i class="icon ion-clipboard"></i>
              Edit Custom Categories
          </ion-item>
          <ion-item class="item-icon-left" ng-click="clearCompletedTasks()" >
              <i class="icon ion-trash-b"></i>
            Clear Archive
          </ion-item>
          <ion-item class="item-icon-left" ng-click="showAbout()" >
              <i class="icon ion-information-circled"></i>
            About
          </ion-item>
          
          
          <ion-item class="item-icon-left" ng-click="showDelete()">
              <!--
                https://forum.ionicframework.com/t/ion-side-menu-icons-very-small-if-using-ion-item-element-list/4392/2
                -->
              <i class="icon ion-trash-a"></i>
              Clear  Saved Data
                                      <div ng-show="toggle.delete">
                <h3>Are you sure you want to clear saved data?</h3>
                <Button  class="button button-small button-assertive" ng-click="deleteAllData()">Clear All Saved Data</Button>
              </div>

          </ion-item>

      </ion-list>

          

  </ion-content>
</ion-view>
