<ion-view view-title="ToDos!">
  <ion-content>
      <h1>To do!</h1>
    <ion-list show-delete="toggles.delete" can-swipe="toggles.swipe">
      <ion-item ng-repeat="item in todo.list" ng-click="update($index)">
        <h1>{{item.task}}</h1> 
        <h2>{{item.type}}</h2>
        <h2>Set: {{item.dateSet.toDateString()}} Due: {{item.due.toDateString()}}</h2>
          <ion-option-button class="button button-positive" ng-click="update($index)"> Update Due Date</ion-option-button>
          <ion-option-button class="button button-assertive" ng-click="removeTask($index)"> Clear Task</ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="removeTask($index)"></ion-delete-button>
        
      </ion-item>
        
<ion-toggle ng-model="toggles.delete">
  Show Delete?
</ion-toggle>
    </ion-list>
      
    
  </ion-content>
</ion-view>
