
<ion-tabs class="tabs-icon-top  tabs-background-assertive tabs-color-light">

  <!-- Previous Entries Tab -->
  <ion-tab title="Tasks" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/todo">
    <ion-nav-view name="tab-todo"></ion-nav-view>
  </ion-tab>



  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
    
    
  <!-- New Entry Tab -->
  <ion-tab  title="Entry" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/entry">
    <ion-nav-view name="tab-entry"></ion-nav-view>
  </ion-tab>


</ion-tabs>
